.app {
  font-family: sans-serif;
  margin-top: 0px;

  header {
    background-color: #143055;
    color: white;
    padding: 5px;
    border-radius: 3px;

    .header-link {
      margin-top: auto;
      margin-bottom: auto;
    }

  }

  .body {
    margin-top: 45px;
    margin-left: 45px;
  }
}
