
.app {
  font-family: sans-serif;
  margin-top: 0px;

  header {
    background-color: #143055;
    color: white;
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    .header-link {
      margin-top: auto;
      text-align: center;
      font-size: 24px;
      a {
        color: white;
      }
      &.logo {
        text-align: left;
      }
    }

  }

  .body {
    white-space: pre;
  }
}
